<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <title>急聘君</title>
    <meta name="keywords" content="急聘君" />
    <meta name="description" content="急聘君" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" id="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    <!-- 基础样式 -->
    <link rel="stylesheet" type="text/css" href="css/reward-html.css">
    <!-- 基础脚本 -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-4.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker-2.0.min.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.min.js"></script>
    <script type="text/javascript" src="js/reward-html.js"></script>
    <script type="text/javascript" src="js/FileSaver.min.js"></script>
    <script type="text/javascript" src="js/jquery.wordexport.js"></script>
</head>

<body class="bg-white">
    <div id="vueList" v-cloak>
        <!-- 主体内容 -->
        <div class="btn-refresh unprint" v-refresh>
            <i class="fa fa-fw fa-redo-alt"></i>
        </div>
        <div class="box-body">
            <div class="print-resume" id="downLoadResume">
                <div class="print-resume-header">
                    <div class="print-title">个人简历</div>
                    <div class="print-sub">
                        <div>
                            <span class="text-muted">投递职位：</span>
                            <span class="fz-lg">{{resumeInfo.baseInfo.delivery}}</span>
                        </div>
                        <div>
                            <span class="text-muted">投递时间：</span>
                            <span>{{resumeInfo.baseInfo.deliveryTime}}</span>
                        </div>
                        <div>
                            <span class="text-muted">当前状态：</span>
                            <span>{{resumeInfo.baseInfo.state}}</span>
                        </div>
                    </div>
                </div>
                <table class="print-resume-table">
                    <tbody>
                        <tr>
                            <td class="print-td-active">姓名</td>
                            <td>{{resumeInfo.baseInfo.realName}}</td>
                            <td class="print-td-active">性别</td>
                            <td>{{resumeInfo.baseInfo.sex}}</td>
                            <td rowspan="3" class="w-md">
                                <div>
                                    <img v-bind:src="resumeInfo.baseInfo.headFileName" alt="图片" class="w-100">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="print-td-active">学历</td>
                            <td>{{resumeInfo.baseInfo.lastDegree}}</td>
                            <td class="print-td-active">工作经验</td>
                            <td>{{resumeInfo.baseInfo.workyears}}</td>
                        </tr>
                        <tr>
                            <td class="print-td-active">年龄</td>
                            <td>{{resumeInfo.baseInfo.birthDate}}</td>
                            <td class="print-td-active">电话</td>
                            <td>{{resumeInfo.baseInfo.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td class="print-td-active">求职意向</td>
                            <td colspan="4">
                                <div class="resume-info-item" v-if="resumeInfo.intention.length>0">
                                    <ul>
                                        <li class="pb-4" v-for="(item,index) in resumeInfo.intention"
                                            v-bind:key="'intention'+index">
                                            <div class="fz-lg">{{item.positionName}}</div>
                                            <div class="text-muted">
                                                <span class="gap-text">{{item.salaryCNName}}</span>
                                                <span class="gap-text">
                                                    <i class="d-none">&nbsp;&nbsp;|&nbsp;&nbsp;</i>
                                                    {{item.tradeName}}
                                                    <i class="d-none">&nbsp;&nbsp;|&nbsp;&nbsp;</i>
                                                </span>
                                                <span class="gap-text">{{item.addressPost}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="print-td-active">工作经历</td>
                            <td colspan="4">
                                <div class="resume-info-item" v-if="resumeInfo.experience.length>0">
                                    <div v-for="(item,index) in resumeInfo.experience" v-bind:key="'experience'+index">
                                        <div class="timeline d-flex">
                                            <div class="timeline-left">
                                                {{item.workTime}}
                                            </div>
                                            <div class="timeline-right">
                                                <div class="timeline-main">
                                                    {{item.positionName}}
                                                </div>
                                                <div class="timeline-sub">
                                                    {{item.companyName}}
                                                </div>
                                                <div class="timeline-depict">
                                                    {{item.positionDesc}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="print-td-active">项目经验</td>
                            <td colspan="4">
                                <div class="resume-info-item" v-if="resumeInfo.project.length>0">
                                    <div v-for="(item,index) in resumeInfo.project" v-bind:key="'project'+index">
                                        <div class="timeline d-flex">
                                            <div class="timeline-left">
                                                {{item.workTime}}
                                            </div>
                                            <div class="timeline-right">
                                                <div class="timeline-main">
                                                    {{item.projectName}}
                                                </div>
                                                <div class="timeline-sub">
                                                    {{item.positionName}}
                                                </div>
                                                <div class="timeline-depict">
                                                    {{item.projectDesc}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="print-td-active">教育经历</td>
                            <td colspan="4">
                                <div class="resume-info-item" v-if="resumeInfo.education.length>0">
                                    <div v-for="(item,index) in resumeInfo.education" v-bind:key="'education'+index">
                                        <div class="timeline d-flex">
                                            <div class="timeline-left">
                                                {{item.studyTime}}
                                            </div>
                                            <div class="timeline-right">
                                                <div class="timeline-main">
                                                    {{item.university}}
                                                </div>
                                                <div class="timeline-sub">
                                                    【{{item.degree}}】{{item.major}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="print-td-active">我的优势</td>
                            <td colspan="4">{{resumeInfo.baseInfo.memo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4 unprint">
                <button type="button" class="btn btn-lg btn-primary gap-x"
                    v-on:click="downLoad(resumeInfo.baseInfo.realName)">下载</button>
                <button type="button" class="btn btn-lg btn-danger gap-x" v-on:click="print">打印</button>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    var vueList = new Vue({
        el: '#vueList',
        components: {

        },
        data: {
            resumeInfo: {
                // 基本信息
                baseInfo: {
                    realName: '吕国红',
                    headFileName: 'images/headpic.png',
                    sex: '男',
                    lastDegree: '本科',
                    workyears: '5年',
                    birthDate: '37',
                    phoneNumber: '15295955803',
                    delivery: 'JAVA工程师',
                    deliveryTime: '2019-08-20 09:30',
                    memo: '我的优势就是高大威猛，英俊潇洒，人见人爱，花见花开，车见车爆胎！',
                    state: '在职-考虑机会'
                },
                // 求职意向
                intention: [{
                        positionName: '茶艺师',
                        salaryCNName: '面议',
                        addressPost: '桂林市',
                        tradeName: '生活服务'
                    },
                    {
                        positionName: 'IT工程师',
                        salaryCNName: '8K-10K',
                        addressPost: '桂林市',
                        tradeName: '移动互联网'
                    }
                ],
                // 工作经历
                experience: [{
                        positionName: '销售经理',
                        companyName: '广西道尔人力资源有限公司',
                        workTime: '2018-10至2019-02',
                        positionDesc: '做牛做马，非常的累，早就想辞职了，但是又没钱。'
                    },
                    {
                        positionName: '客服人员',
                        companyName: '广西中汇劳务有限公司',
                        workTime: '2019-03至今',
                        positionDesc: '做牛做马，非常的累，早就想辞职了，但是又没钱。'
                    }
                ],
                // 项目经验
                project: [{
                    projectName: '桂林天网子系统',
                    positionName: '项目经理',
                    workTime: '2018-10至2019-02',
                    projectDesc: '做牛做马，非常的累，早就想辞职了，但是又没钱。'
                }],
                // 教育经历
                education: [{
                    university: '广西师范大学',
                    degree: '本科',
                    major: '电子信息工程',
                    studyTime: '2012-09至2016-06'
                }]
            }
        },
        // 计算属性
        computed: {

        },
        // 监听属性
        watch: {

        },
        // 存放事件的地方
        methods: {
            downLoad: function (realName) {
                $("#downLoadResume").wordExport(realName + "的简历", {
                    styles: 'div,ul,li{margin:0;padding:0}.print-resume-header{font-family:"Microsoft YaHei";font-size:14px}.print-title{font-size:32px;text-align:center;margin-bottom:20px}.print-sub{margin-bottom:10px}.text-muted{color:#999}.fz-lg{font-size:18px;}.print-resume-table{font-family:"Microsoft YaHei";font-size:14px;width:100%;border-collapse:collapse}.print-resume-table td{padding:10px;border:solid 1px #e6e6e6}.print-td-active{background:#f0f0f0;white-space:nowrap}.timeline{margin-bottom:20px}.timeline-main{font-size:18px;}.timeline-depict{color:#999}'
                });
            },
            print: function (e) {
                $(".unprint").css("display", "none");
                window.print();
                $(".unprint").css("display", "block");
            }
        },
        // 页面加载数据前要做的事情写在这里
        created: function () {

        },
        // 页面加载完数据后要做的事情写在这里
        mounted: function () {

        }
    })
</script>