<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <title>急聘君</title>
    <meta name="keywords" content="急聘君" />
    <meta name="description" content="急聘君" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    <!-- 基础样式 -->
    <link rel="stylesheet" type="text/css" href="css/reward-html.css">
    <!-- 基础脚本 -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-4.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker-2.0.min.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.min.js"></script>
    <script type="text/javascript" src="js/reward-html.js"></script>
    <!-- 表单验证 -->
    <script type="text/javascript" src="js/jquery.validate-1.14.0.min.js"></script>
    <style type="text/css">
        .canvasBox{
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }
    </style>
</head>
<body class="login-bg">
    <noscript>
        <div class="doer-warning">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
            您的浏览器阻止了Javascript的运行，导致无法正常浏览本网站，请点击浏览器提示信息选择允许阻止的内容
        </div>
    </noscript>
    <!--[if lte IE 9]>
        <div class="doer-warning">
            <div class="warning-title">
                <div class="warning-img"></div>
                <p>检测到史前IE浏览器</p>
            </div>
            <div class="warning-text">
                <p>我们使用了最新的技术来搭建网站，使本网站更快和更容易使用，很遗憾的是，您的浏览器并不支持这些技术。</p>
                <p>点击下载以下其中一种现代浏览器，让您得到更好的浏览体验！</p>
            </div>
            <div class="warning-update">
                <a href="https://pc.qq.com/detail/11/detail_351.html" target="_blank">
                    <div class="warning-icon browser-qq"></div>
                    <p>QQ浏览器</p>
                </a>
                <a href="https://browser.360.cn/ee/" target="_blank">
                    <div class="warning-icon browser-360"></div>
                    <p>360极速</p>
                </a>
                <a href="https://pc.qq.com/detail/1/detail_2661.html" target="_blank">
                    <div class="warning-icon browser-google"></div>
                    <p>谷歌浏览器</p>
                </a>
                <a href="https://pc.qq.com/detail/7/detail_2867.html" target="_blank">
                    <div class="warning-icon browser-firefox"></div>
                    <p>火狐浏览器</p>
                </a>
                <a href="https://pc.qq.com/detail/7/detail_11527.html" target="_blank">
                    <div class="warning-icon browser-ie"></div>
                    <p>升级IE</p>
                </a>
            </div>
        </div>
    <![endif]-->
    <div id="vueList" v-cloak>
        <!-- 主体内容 -->
        <div class="content-bg">
            <div class="canvasBox"></div>
            <div class="login-box">
                <div class="login-icon">
                    <img v-bind:src="logo" alt="图片">
                </div>
                <div class="text-center fz-xlg">企业登录</div>
                <div class="login-slide">
                    <form id="companyLoginForm">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-fw fa-building"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" name="companyLoginName" placeholder="请输入企业邮箱 / 道尔工作网账号" v-model="companyLoginData.companyLoginName">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-fw fa-lock"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" name="companyLoginPwd" placeholder="请输入密码" v-model="companyLoginData.companyLoginPwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-fw fa-shield-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" name="companyLoginPicCode" placeholder="请输入图片验证码" v-model="companyLoginData.companyLoginPicCode">
                                <div class="input-group-append">
                                    <img v-bind:src="picCodeSrc" alt="图片" class="pointer" v-on:click="changePicCode">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right lh-lg">
                            <a v-bind:href="companyFindPswLink">忘记密码？</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
                        </div>
                    </form>
                    <a v-bind:href="companyRegisterLink" class="btn btn-link btn-lg btn-block mt-2">还没有企业账号？立即注册</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var vueList = new Vue({
        el: '#vueList',
        components: {

        },
        data: {
            logo: 'images/logo-sm.png',
            companyFindPswLink: '找回密码.html',
            companyRegisterLink: '注册.html',
            companyLoginData: {
                companyLoginName: '',
                companyLoginPwd: '',
                companyLoginPicCode: ''
            },
            // 图片验证码地址
            picCodeSrc: 'http://www.doerjob.com:8080/verifyCodeServlet'
        },
        // 计算属性
        computed: {

        },
        // 监听属性
        watch: {

        },
        // 存放事件的地方
        methods: {
            // 改变图片验证码
            changePicCode: function(e){
                var timestamp = "http://www.doerjob.com:8080/verifyCodeServlet?timestamp="+(new Date()).valueOf(); 
                this.picCodeSrc = timestamp;
            }
        },
        // 页面加载数据前要做的事情写在这里
        created: function(){
            
        },
        // 页面加载完数据后要做的事情写在这里
        mounted: function(){
            // 表单验证
            var formValidatorLogin = $("#companyLoginForm").validate({
                submitHandler:function(form){
                    $.toast('你通过了验证')
                    // form.submit();
                },
                rules: {
                    "companyLoginName":{required:true},
                    "companyLoginPwd":{required:true},
                    "companyLoginPicCode":{required:true}
                },
                messages: {
                    "companyLoginName":{required:'不能为空'},
                    "companyLoginPwd":{required:'不能为空'},
                    "companyLoginPicCode":{required:'不能为空'}
                },
                onkeyup: false,
                errorPlacement: function(error, element) {
                    element.wrap('<div class="error-box"></div>');  
                    error.appendTo(element.parent());  
                }
            });
            // 开始绘制背景canvas
            window.requestAnimFrame = (function () {
                return  window.requestAnimationFrame ||
                        window.webkitRequestAnimationFrame ||
                        window.mozRequestAnimationFrame ||
                        window.oRequestAnimationFrame ||
                        window.msRequestAnimationFrame ||
                        function (callback) {
                            window.setTimeout(callback, 1000 / 60);
                        };
            })();
            $(".canvasBox").empty();
            //封装方法，压缩之后减少文件大小
            function get_attribute(node, attr, default_value) {
                return node.getAttribute(attr) || default_value;
            }
            //封装方法，压缩之后减少文件大小
            function get_by_tagname(name) {
                return document.getElementsByTagName(name);
            }
            //获取配置参数
            function get_config_option() {
                var scripts = get_by_tagname("script"),
                    script_len = scripts.length,
                    script = scripts[script_len - 1]; //当前加载的script
                return {
                    l: script_len, //长度，用于生成id用
                    o: get_attribute(script, "opacity", 0.8), //opacity
                    c: get_attribute(script, "color", "230,230,230"), //color
                    n: get_attribute(script, "count", 99) //count
                };
            }
            //设置canvas的高宽
            function set_canvas_size() {
                canvas_width = the_canvas.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth, 
                canvas_height = the_canvas.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
            }
            //绘制过程
            function draw_canvas() {
                context.clearRect(0, 0, canvas_width, canvas_height);
                //随机的线条和当前位置联合数组
                var all_array = [current_point].concat(random_lines);
                var e, i, d, x_dist, y_dist, dist; //临时节点
                //遍历处理每一个点
                random_lines.forEach(function(r) {
                    r.x += r.xa,
                    r.y += r.ya, //移动
                    r.xa *= r.x > canvas_width || r.x < 0 ? -1 : 1, 
                    r.ya *= r.y > canvas_height || r.y < 0 ? -1 : 1, //碰到边界，反向反弹
                    context.fillStyle="#fff";
                    context.fillRect(r.x - 0.5, r.y - 0.5, 1, 1); //绘制一个宽高为1的点
                    for (i = 0; i < all_array.length; i++) {
                        e = all_array[i];
                        //不是当前点
                        if (r !== e && null !== e.x && null !== e.y) {
                                x_dist = r.x - e.x, //x轴距离 l
                                y_dist = r.y - e.y, //y轴距离 n
                                dist = x_dist * x_dist + y_dist * y_dist; //总距离, m
                            dist < e.max && (e === current_point && dist >= e.max / 2 && (r.x -= 0.03 * x_dist, r.y -= 0.03 * y_dist), //靠近的时候加速
                                d = (e.max - dist) / e.max,
                                context.beginPath(),
                                context.lineWidth = d / 2,
                                context.strokeStyle = "rgba(" + config.c + "," + (d + 0.2) + ")",
                                context.moveTo(r.x, r.y),
                                context.lineTo(e.x, e.y),
                                context.stroke());
                        }
                    }
                    all_array.splice(all_array.indexOf(r), 1);
                }), window.requestAnimFrame(draw_canvas);
            }
            //创建画布，并添加到body中
            var the_canvas = document.createElement("canvas"), //画布
                config = get_config_option(), //配置
                canvas_id = "c_n" + config.l, //canvas id
                context = the_canvas.getContext("2d"), canvas_width, canvas_height,
                random = Math.random,
                current_point = {
                    x: null, //当前鼠标x
                    y: null, //当前鼠标y
                    max: 20000
                };
            // the_canvas.id = canvas_id;
            the_canvas.style.cssText = "opacity:" + config.o;
            $(".canvasBox").append(the_canvas);
            //初始化画布大小
            set_canvas_size(), window.onresize = set_canvas_size;
            //当时鼠标位置存储，离开的时候，释放当前位置信息
            window.onmousemove = function(e) {
                e = e || window.event, current_point.x = e.clientX, current_point.y = e.clientY;
            }, window.onmouseout = function() {
                current_point.x = null, current_point.y = null;
            };
            //随机生成config.n条线位置信息
            for (var random_lines = [], i = 0; config.n > i; i++) {
                var x = random() * canvas_width, //随机位置
                    y = random() * canvas_height,
                    xa = 2 * random() - 1, //随机运动方向
                    ya = 2 * random() - 1;
                random_lines.push({
                    x: x,
                    y: y,
                    xa: xa,
                    ya: ya,
                    max: 6000 //沾附距离
                });
            }
            //重绘
            setTimeout(function() {
                draw_canvas();
            }, 100);
        }
    })
</script>